<footer>
    <div class="container">
      <div class="footer-content">
        <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
        <ul class="social-media-list">
          <li><a href="https://github.com/yourusername"><img src="{{ site.baseurl }}/assets/images/github-icon.png" alt="GitHub"></a></li>
          <li><a href="https://twitter.com/yourusername"><img src="{{ site.baseurl }}/assets/images/twitter-icon.png" alt="Twitter"></a></li>
        </ul>
      </div>
    </div>
  </footer>
  