<nav class="navbar">
    <div class="container">
      <ul class="nav-list">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/goal/">Goal</a></li>
        <li><a href="{{ site.baseurl }}/ai-models/">AI Models</a></li>
        <li><a href="{{ site.baseurl }}/understanding-ai/">Understanding AI</a></li>
        <li><a href="{{ site.baseurl }}/about/">About</a></li>
        <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
      </ul>
    </div>
  </nav>
  